form{
  flex-wrap: wrap;
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  margin: 0 10px; 
  background-color: antiquewhite;
}
form input{
  margin: 10px 0px;
}
form button{
  margin-bottom: 10px;
}

.tasks{
position: relative;
display: flex;
flex-direction: column;
border: 1px solid green;
margin: 10px;
background: wheat;
}

.eliminar{
  background-color: red;
  color: white;
  border: none;
  width: 80px;
  padding: 8px 10px;
  border-radius: 10px;
  margin: 10px auto ;
}